
<!--div class = "col-md-3"/>
<div class = "col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><span class="fa fa-pencil"></span> Create / Update Patient</h3>
		</div>
		<div class="panel-body">                                    
			<!-- START JQUERY VALIDATION PLUGIN -->
			<!--form id="jvalidate" role="form" class="form-horizontal">
				<div class="form-group">
					<label class="col-md-3 control-label">Name:</label>  
					<div class="col-md-6">
						<input type="text" ng-model="vm.name" class="form-control" name="name"/>
					</div>
				</div>             
				<div class="form-group">
					<label class="col-md-3 control-label">Gender:</label>
					<div class="form-group">
						<div class="col-md-2">                                    
							<label class="check"><input type="radio" ng-model="vm.gender" value="male"class="iradio" name="iradio"/> Male</label>
						</div>
						<div class="col-md-2">                                    
							<label class="check"><input type="radio" ng-model="vm.gender" value="female" class="iradio" name="iradio" checked="checked"/> Female</label>
						</div>
					</div>
				</div>  
				<div class="form-group">
					<label class="col-md-3 control-label">Date of birth:</label>
					<div class="col-md-6">
						<input type="text" class="form-control datepicker" name="date"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Primary Complaint:</label>     
					<div class="col-md-6">
						<input type="text" class="form-control" name="complaint1"/>
					</div>
				</div>  		
				<div class="form-group">
					<label class="col-md-3 control-label">Secondary Complaint:</label>     
					<div class="col-md-6">
						<input type="text" class="form-control" name="complaint2"/>
					</div>
				</div>  
				<div class="form-group">                                        
					<label class="col-md-3 control-label">Phone:</label>          
					<div class="col-md-6">
						<input type="text" class="form-control" name="phone"/>
					</div>
				</div>                                                             
				<div class="form-group">
					<label class="col-md-3 control-label">E-mail:</label>
					<div class="col-md-6">
						<input type="text" value="" ng-model="vm.email" name="email" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Address:</label>     
					<div class="col-md-6">
						<input type="text" class="form-control" name="address"/>
					</div>
				</div-->             
			<!-- END JQUERY VALIDATION PLUGIN -->
			<!--/form>
		</div>               
		<div class="panel-footer">
			<button type="button" class="btn btn-default pull-right" ng-click="update(vm)">Save</button>
			<button type="button" class="btn btn-default pull-right" ng-click="cancel(vm)">Cancel</button>
		</div>
	</div>
</div>
<div class = "col-md-3"/-->